DATABASE_URL="postgresql://postgres:postgres@localhost:5432/library"
JWT_SECRET="changeme"
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT="2525"
SMTP_AUTH_USER=""
SMTP_AUTH_PASS=""
SENDER_EMAIL="noreply@library.com"
CLOUDINARY_URL="cloudinary://<api_key>:<api_secret>@<cloud_name>"